html {
    background-color: burlywood;
}
h1 {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(154, 85, 40);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}